.jumbotron{
    background-color: indianred;
    color: black;
}

footer{
    background-color: indianred;
    color: black;
}

a{
    color: black;
}

a:hover{
    color: blanchedalmond;
}

.producto{
    padding: 5px;
}

body{
    color: black;
    margin: 0;
    width: 100% vw;
}

@media screen and (max-width: 570px)
{
    .opcion{
        display: none !important;
    }
}
